@import "tailwindcss";

@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Impacted";
  src: url("/fonts/Impacted.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.impact {
  font-family: "Impact", "Impacted", Impact, "Arial Black", sans-serif;
}
